{% extends "admin/base.html" %}
{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <div class="row">
        <form method="post" autocomplete="off" draggable="false" enctype="multipart/form-data">
          <div class="col-md-9">
            <h1 class="page-header">常规设置</h1>
            <div class="add-article-box">
              <div class="add-article-box-content">
                <h2 class="add-article-box-title"><span>标题</span></h2>
              <input type="text" id="article-title" name="title"  class="form-control" placeholder="在此处输入标题" required autofocus autocomplete="off">
              </div>
            </div>
            <div class="add-article-box">
              <div class="add-article-box-content">
                <h2 class="add-article-box-title"><span>关键字</span></h2>
              <input type="text" id="article-title" name="keywords"  class="form-control" placeholder="在此处输入标题" required autofocus autocomplete="off">
                <span class="prompt-text">用简洁的文字描述本站点。</span>
              </div>

                <div class="add-article-box">
              <div class="add-article-box-content">
                <h2 class="add-article-box-title"><span>站点描述</span></h2>
              <input type="text" id="article-title" name="description"  class="form-control" placeholder="在此处输入标题" required autofocus autocomplete="off">
                <span class="prompt-text">描述会出现在网页的description属性中。</span>
              </div>
                </div>

                <div class="add-article-box">
              <div class="add-article-box-content">
                <h2 class="add-article-box-title"><span>统计工具</span></h2>
              <input type="text" id="article-title" name="protocol"  class="form-control" placeholder="在此处输入标题" required autofocus autocomplete="off">
                <span class="prompt-text">提供站长统计工具代码。</span>
              </div>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <h1 class="page-header">站点</h1>
            <div class="add-article-box">
                <h2 class="add-article-box-title"><span>备案号</span></h2>
              <div class="add-article-box-content">
                  <input type="text" class="form-control"  placeholder="输入备案号" name="icp_number" autocomplete="off">
              </div>
            </div>
              <div class="add-article-box">
                <h2 class="add-article-box-title"><span>托管</span></h2>
              <div class="add-article-box-content">
                  <input type="text" class="form-control" placeholder="输入托管" name="deposit" autocomplete="off">
              </div>
            </div>
              <div class="add-article-box">
                <h2 class="add-article-box-title"><span>图标</span></h2>
              <div class="add-article-box-content">
                  <input type="file" class="form-control" placeholder="选择图标" name="icon" autocomplete="off">
              </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>保存</span></h2>
              <div class="add-article-box-content"> <span class="prompt-text">请确定您对所有选项所做的更改</span> </div>
              <div class="add-article-box-footer">
                <button class="btn btn-primary" type="submit" name="submit">发布</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
{% endblock content %}